<!-- Navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid justify-content-between">
    <!-- Left elements -->
    <div class="d-flex">
      <!-- Brand -->
      <a class="navbar-brand me-2 mb-1 d-flex align-items-center" href="#">
        <img
          [src]="LogoImgPath"
          width="70"
          alt="MDB Logo"
          loading="lazy"
          style="margin-top: 2px;"
        />
      </a>
      <!-- Search form -->
      <form class="input-group w-auto my-auto d-none d-sm-flex" style="margin-left: 30px;">
        <input
          autocomplete="off"
          type="search"
          class="form-control rounded"
          placeholder="Search"
          style="min-width: 125px;"
        />
        <span class="input-group-text border-0 d-none d-lg-flex">
          <mat-icon>search</mat-icon>
        </span>
      </form>
    </div>
    <!-- Left elements -->

    <!-- Center elements -->
    <ul class="navbar-nav flex-row d-none d-md-flex">
      <li class="nav-item me-3 me-lg-1 active">
        <a class="nav-link"
        routerLink="/home"
        routerLinkActive="selectedNav"
        title="Home">
          <span><mat-icon>
            home
          </mat-icon></span>
        </a>
      </li>
      <li class="nav-item me-3 me-lg-1">
        <a class="nav-link"
        routerLink="/Dashboard"
        routerLinkActive="selectedNav"
        title="Dashboard">
          <span>
            <mat-icon>dashboard</mat-icon>
          </span>
        </a>
      </li>
    </ul>
    <!-- Center elements -->

    <!-- Right elements -->
    <ul class="navbar-nav flex-row">
      <li class="nav-item me-3 me-lg-1">
        <a class="nav-link d-sm-flex align-items-sm-center">
          <mat-icon class="demo-section" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Notification Menu" matBadge="10" matBadgePosition="before"  matBadgeColor="warn">notifications</mat-icon>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <mat-icon>dialpad</mat-icon>
              <span>Redial</span>
            </button>
            <button mat-menu-item disabled>
              <mat-icon>voicemail</mat-icon>
              <span>Check voice mail</span>
            </button>
            <button mat-menu-item>
              <mat-icon>notifications_off</mat-icon>
              <span>Disable alerts</span>
            </button>
          </mat-menu>
        </a>
      </li>
      <li class="nav-item me-3 me-lg-1">
        <a class="nav-link d-sm-flex align-items-sm-center" routerLink="/Profile">
          <img
            src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
            class="rounded-circle"
            height="22"
            alt="Black and White Portrait of a Man"
            loading="lazy"
          />
          <strong class="d-none d-sm-block ms-1">{{userData.lastname}} {{userData.firstname}} </strong>
        </a>
      </li>
      <li class="nav-item me-3 me-lg-1">
        <a class="nav-link" routerLink="/SignIn"
        routerLinkActive="selectedNav"
        title="logout"
        (click)="signOut()">
          <span title="Logout"><mat-icon class="logout">logout</mat-icon></span>
        </a>
      </li>
    </ul>
    <!-- Right elements -->
  </div>
</nav>
<!-- Navbar -->
